* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.section {
  padding: 30px;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.hero-section {
 background-color: #1f2937;
 padding: 50px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}

.header {
  padding: 0;
}

.gallery {
  background-color: #f9faf8;
  padding: 10px;
  display: flex;
  font-size: 36px;
  font-weight: 900;
  justify-content: space-evenly;
  align-items: center;
 }

.quote {
  background-color: #e5e7eb;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.cta {
  background-color: #f9faf8;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-section h1, p {
  display: flex;
}

.hero-main-text{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary-text, .header-link-text {
  font-size: 18px;
  color: #e5e7eb;
}

header, footer {
  background-color: #1f2937;
  margin: 0;
}

header h1 {
  font-size: 24px; 
  color: #f9faf8;
}

/* .navbar {
  display: flex;
  align-items: flex-start;
} */

.navdiv {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navdiv li {
  display: inline-block;
  margin: 15px;
  font-weight: light;
  padding: 10px;
}

.navdiv li:hover{
  transition-duration: 700ms;
  transition-timing-function: ease;
  border-radius: 5px;
  background-color: whitesmoke;
  color: #1f2937;
}

footer {
  margin: 0;
}

footer p {
  display: flex;
  padding: 30px;
  justify-content: center;
}

button {
  background-color: #3882f6;
  padding: 10px 15px;
  border: 3px solid white;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}

button:hover {
  transition-duration: 700ms;
  transition-timing-function: ease;
  background-color: whitesmoke;
  color: #3882f6;
}

footer {
  color: #f9faf8;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 32px;
}

.card {
  border: 3px solid #3882f6;
  border-radius: 5px;
}

.gallery {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.gallery h1 {
  font-size: 36px;
  color: #1f2937;
  weight: 900;
}

.subtext {
  color: #1f2937;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.quote h2 {
  font-size: 36px;
  font-weight: 100;
  color: #1f2937;
  padding: 30px;
  text-align: center;
  justify-content: space-around;
  align-items: space-around;
}


.quote {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.quote h3 {
  color: #1f2937;
  padding-left: 50%;
}

.border-round {
  display: flex;
  border: 3px transparent;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0 100px;
  margin: 30px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}

.cta-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.cta-text h2, p {
  margin:  0;
}